*{
  margin: 0%;
  padding: 0%;
}
body {
    background-color: #6e6e6e;
    font-family: Arial, sans-serif;
    
  }
  
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

  footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  #container{
    display: flex;
    align-items: center;
    text-align: center;
  }

  #container div{
    border-style: solid;
    border-color: rgb(84, 148, 127);
    background-color:  rgb(84, 148, 127);
    border-radius: 10px;
  }

  #container div img{
    width: 200px;
    height: 220px;
  }

  #employeeForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }


  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input{
    background-color: #a4cee4;
    padding: 12px;
    border-radius: 4px;
    margin-top: 10px;
    
  }

  select{
    background-color: #a4cee4;
    padding: 12px;
    border-radius: 4px;
  }
