*{
  margin: 0%;
  padding: 0%;
}
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    
  }
  
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

  footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  #container div{
    align-items: center;
  }